body{
    margin:0px;
    padding:0px;
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    background-color:red;
}

.container{
    width:480px;
    margin: 50px auto;
    background-color:red;
    border-radius:0px;
    padding:40px;
}

#outer-container {
    max-width: 1200px;
    margin: 0 auto;
}

.disclaimer label  p {
    display:inline;
}

.disclaimer{
    border-top:1px dotted #cccccc;
    width:100%;
    padding:15px 0 0 0;
    margin-top:10px;
}

/* *********** preview message  *********** */

div#container-preview, div#container-error-required {
    background-color: red;
    border: 1px solid #cf3737;
    color: #000;
    font-size: 12px !important;
    margin: 10px auto auto;
    max-width: 480px;
    padding:10px;
}

#warning{
    font-weight: bold;
    margin-bottom:2px;
    width:100%;
    display: block;
}

#warning-message{
}

/* *********** / preview message  *********** */


.banner{
    padding-bottom:20px;
}

.banner img{
    width:100%;
}


/*#container-intro-text{
	line-height:150%;
	 color:#39a4aa;
    font-size:30px;
    font-weight:700;
    padding-bottom:25px;
    margin-top:-5px;
}*/

#container-intro-text{
    color:#333333;
    font-size:15px;
    font-weight:400;
    padding-bottom:25px;
}

.Title {
    color:#39a4aa;
    font-size:30px;
    font-weight:700;
}

.Text {
    color:#333333;
    font-size:15px;
    font-weight:400;
}

/*.title-form{
    color:#39a4aa;
    font-size:30px;
    font-weight:700;
    padding-bottom:15px;
    margin-top:-5px;
}*/

.title-form{
    color:#333333;
    font-size:15px;
    font-weight:400;
    padding-bottom:15px;
}


.disclaimer a:hover{
    color:#666666;
    text-decoration:none;
}

.question-comment{
    color:#666666;
    font-size:12px;
    padding:0 0 5px 4px;
    font-style:italic;
}

/*   form elementen   */

label {
    display: inline-block;
    font-weight: 700;
    margin-bottom: 5px;
    margin-left:5px;
    max-width: 100%;
    font-size:14px;
    color:#455560;
}

.form-control {
    background-color: red;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 44px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

.form-control[type="file"]{
    background-color: red;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 44px;
    line-height: 1.42857;
    padding: 0px !important;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

textarea.form-control {
    height:100px;
}

.btn {
    -moz-user-select: none;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    background-color: #333333!important;
    border-color: #333333!important;
    color: #fff;
    font-family: 'Open Sans', sans-serif!important;
    font-weight:700!important;
    padding:15px 30px;
    margin-top:10px;
}

/*.btn:hover{
    background-color:#2f888c!important;
    color:#FFFFFF;
}*/

.chars-counter p{
    float:right;
    color:#999999;
    font-size:12px;
    padding-top:5px;

}

/* radiobuttons */

.radiobuttons-horizontal{
    width:100%;
}

.radiobuttons-group-vertical{
    margin-left:5px !important;
}

.radiobuttons-group-horizontal{
    margin-left:8px !important;
}

.radiobuttons-group-horizontal div{
    float:left;
    width:33%;
    padding-right:10px;
}

.radiobuttons-group-horizontal label{
    float:left;
    width:auto;
}

.radiobuttons-group-horizontal input[type=radio]:not(old){
    float:left;
    margin-top:7px;
}

.radiobuttons-group-horizontal input{
    float:left;
}

.radiobuttons-horizontal .question-comment{
    width:100%;
    clear:both;
}

.radiobuttons-vertical input[type="radio"] {
    float:left;
    margin-top: 7px;
    height: 16px;
}

/* checkboxes */

.checkboxes-horizontal{
    width:100%;
}

.checkboxes-group-vertical{
    margin-left:5px !important;
}

.checkboxes-group-horizontal{
    margin-left:8px !important;
}

.checkboxes-group-horizontal div{
    float:left;
    width:33%;
    padding-right:10px;
}

.checkboxes-group-horizontal label{
    float:left;
    width:auto;
}

.checkboxes-group-horizontal input[type=checkbox]:not(old){
    float:left;
    margin-top:7px;
}

.checkboxes-group-horizontal input{
    float:left;
}

.checkboxes-horizontal .question-comment{
    width:100%;
    clear:both;
}




/* ************  opmaak checkboxen ******** */
/* verbergen origineel */
input[type=checkbox]:not(old),
input[type=radio   ]:not(old){
    width     : 2em;
    margin    : 0;
    padding   : 0;
    font-size : 1em;
    opacity   : 0;
}
/* / verbergen orogineel */

input[type=checkbox]:not(old) + label,
input[type=radio   ]:not(old) + label{
    display      : inline-block;
    margin-left  : -32px;
    line-height  : 30px;
    /*padding-bottom:10px;*/
    font-size: 13px;
    font-weight: 400;
}

input[type=checkbox]:not(old) + label > span{
    display          : inline-block;
    width            : 20px;
    height           : 20px;
    margin           : 5px 10px 5px 0;
    border           : 1px #CCC solid;
    border-radius    : 0px;
    background       : #FFFFFF;
    vertical-align   : bottom;
}

input[type=radio   ]:not(old) + label > span{
    display          : inline-block;
    width            : 20px;
    height           : 20px;
    margin           : 0px 10px 5px 0;
    border           : 1px #CCC solid;
    border-radius    : 10px;
    background       : #FFFFFF;
    vertical-align   : bottom;
}

input[type=checkbox]:not(old):checked + label > span:before{
    content     : 'âœ“';
    display     : block;
    width       : 20px;
    color       : #39A4AA;
    font-size   : 16px;
    text-align  : center;
    font-weight : 700!important;
    margin-top  :-7px;
}

input[type=radio]:not(old):checked + label > span > span{
    display          : block;
    width            : 12px;
    height           : 12px;
    margin           : 3px;
    border           : 1px solid #39A4AA;
    border-radius    : 6px;
    background       : #39A4AA;
}

@media screen and (max-width: 480px) {
    .container{
        width:100% !important;
        margin: 50px auto;
        background-color:#FFFFFF;
        border-radius:0px;
        padding:20px;
    }

    #container-btn {
        margin: auto;
        text-align: center;
        width: 100%;
    }

    .btn-block {
        display: block;
    }
}

@media screen and (min-device-width: 481px) and (max-width: 800px) {
    .container{
        width:100% !important;
        margin: 50px auto;
        background-color:#FFFFFF;
        border-radius:10px;
        padding:20px;
    }

    #container-btn {
        margin: auto;
        text-align: center;
        width: 100%;
    }

    .btn-block {
        display: block;
    }
}


/* ********** Timepicker ************* */

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: #FFFFFF url("images/ui-bg_glass_100_f6f6f6_1x400.png") repeat-x scroll 50% 50%;
    border: 1px solid #ccc;
    /*font-weight: normal;
	color: #1c94c4;*/
    color:#39a9a7;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    background: #FFFFFF url("images/ui-bg_glass_100_f6f6f6_1x400.png") repeat-x scroll 50% 50%;
    border: 1px solid #333333 ;
    color: #333333 ;
    font-weight: bold;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background: #fff url("images/ui-bg_glass_65_ffffff_1x400.png") repeat-x scroll 50% 50%;
    border: 1px solid #333333 ;
    /*color: #eb8f00;*/
    color:#333333 ;
    font-weight: bold;
}

.ui-widget-header {
    background: #e4e4e4 !important;
    background-image:none !important;;
    border: 1px solid #ccc !important;
    color: #333 !important;
    font-weight: bold;
}

.ui-widget-content {
    background: #eee url("images/ui-bg_highlight-soft_100_eeeeee_1x100.png") repeat-x scroll 50% top;
    border: 1px solid #ddd;
    color: #333;
}
.ui-widget-content a {
    color: #333;
}

.ui-widget-header a {
    color: #fff;
}

ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    border: 1px solid #999;
    width: 49%;
}

.ui-datepicker th {
    font-weight: 700;
    text-align: center;
    color:#444444 ! important;
}

.ui-timepicker-inline {
    display: inline;
}
#ui-timepicker-div {
    padding: 0.2em;
}
.ui-timepicker-table {
    display: inline-table;
    width: 0;
}
.ui-timepicker-table table {
    border-collapse: collapse;
    margin: 0.15em 0 0;
}
.ui-timepicker-hours, .ui-timepicker-minutes {
    padding: 0.2em;
}
.ui-timepicker-table .ui-timepicker-title {
    line-height: 1.8em;
    text-align: center;
}
.ui-timepicker-table td {
    padding: 0.1em;
    width: 2.2em;
}
.ui-timepicker-table th.periods {
    padding: 0.1em;
    width: 2.2em;
}
.ui-timepicker-table td span {
    display: block;
    padding: 0.2em 0.3em 0.2em 0.3em !important;
    text-align: center !important;
    text-decoration: none;
    width: 1.2em;
}
.ui-timepicker-table td a {
    cursor: pointer;
    display: block;
    padding: 0.2em 0.3em 0.2em 0.3em;
    text-align: right;
    text-decoration: none;
    width: 2.2em !important;
}
.ui-timepicker .ui-timepicker-buttonpane {
    background-image: none;
    border-bottom: 0 none;
    border-left: 0 none;
    border-right: 0 none;
    margin: 0.7em 0 0;
    padding: 0 0.2em;
}
.ui-timepicker .ui-timepicker-buttonpane button {
    cursor: pointer;
    margin: 0.5em 0.2em 0.4em;
    overflow: visible;
    padding: 0.2em 0.6em 0.3em;
    width: auto;
}
.ui-timepicker .ui-timepicker-close {
    float: right;
}
.ui-timepicker .ui-timepicker-now {
    float: left;
}
.ui-timepicker .ui-timepicker-deselect {
    float: left;
}

.form-group {
    position: relative;
}

i.date-icon,
i.time-icon,
i.datetime-time-icon {
    right: 15px;
    bottom: 15px;
    position: absolute;
}

i.datetime-date-icon {
    right: 15px;
    bottom: 64px;
    position: absolute;
}
