#flxml_frm{
  background-color: red!important;
}
#flxml_frm table tbody tr td br{
  display: none;
}
#flxml_frm table tbody tr td span{
  width: 50%;
  display: inline-block;
}

#flxml_frm table tbody { 
    background-color: #dfeceb!important;
    color: #3D3D3D ;
    font-family: 'Verdana'!important;
}

